<button class="mr-10" *ngIf="icon; else text" mat-button [matMenuTriggerFor]="languageMenu">
  <span class="current-lang">{{ currentLanguage | uppercase}}</span>
  <mat-icon>language</mat-icon>
</button>
<ng-template #text>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="languageMenu">
    {{ currentLanguage }}
  </button>
</ng-template>
<mat-menu #languageMenu="matMenu" [class]="'bg-menu'">
  <span class="white-color lang" mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
    <img class="mr-10" [src]="'assets/img/lang/'+ language + '.png'" [alt]="language + '-lang-logo'">
    {{ language | uppercase }}
  </span>
</mat-menu>
