@import 'src/assets/palette';

.login-container {
  z-index: 1001;
  position: absolute;

  .login {
    width: 400px;
  }

  .login-sm {
    background: rgba(0, 0, 0, 0.10);
  }

  .info {
    color: $baby-powder;
    padding: 40px 20px;
    text-align: center;
  }

  .bg-transparent-50 {
    background: rgba(0, 0, 0, 0.10);
  }
}


