<div class="login-container" fxLayout="column" fxLayoutAlign.lt-md="start center"
     fxLayoutAlign.gt-sm="center center" fxFill>

  <mat-card ngClass.lt-md="login-sm" ngClass.gt-sm="login">

    <mat-card-header ngClass.lt-md="pb-90" ngClass.gt-sm="pb-20" fxLayoutAlign="center center" fxLayout="row">
      <app-brand-logo [bg]="'black'"></app-brand-logo>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="LoginRequest()" novalidate>

      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix>person_outline</mat-icon>
          <input matInput [placeholder]="'auth.login.user' | translate" type="text" autocomplete="email"
                 formControlName="user">
          <mat-error *ngIf="loginForm.get('user')?.hasError('required')">
            <span>{{'auth.login.error.required.user' | translate}}</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix class="cursor-pointer" (click)="$event.preventDefault();hidePwd = !hidePwd;"
                    tabindex="-1">
            {{hidePwd ? 'lock_open' : 'visibility'}}
          </mat-icon>
          <input matInput [placeholder]="'auth.login.password' | translate" [type]="hidePwd ? 'password' : 'text'"
                 autocomplete="current-password" formControlName="password" (keydown.enter)="$event.preventDefault()">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            <span>{{'auth.login.error.required.password' | translate}}</span>
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            <span>{{'auth.login.error.minlength.password' | translate}}</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="px-20">
        <button mat-raised-button [class]="loginForm.valid ? 'full-width white-color' : 'full-width black-color-50'"
                color="primary" [disabled]="loginForm.invalid" type="submit">
          {{'auth.login.submit' | translate}}
        </button>
      </mat-card-actions>

    </form>

  </mat-card>

  <p ngClass.lt-md="info bg-transparent-50" ngClass.gt-sm="info">
    {{'auth.login.info' | translate}}
  </p>

</div>
