<div class="login-container" fxLayout="column" fxLayoutAlign.lt-md="start center"
     fxLayoutAlign.gt-sm="center center" fxFill>

  <mat-card ngClass.lt-md="login-sm" ngClass.gt-sm="login">

    <mat-card-header ngClass.lt-md="pb-90" ngClass.gt-sm="pb-20" fxLayoutAlign="center center" fxLayout="row">
      <app-brand-logo [bg]="'black'"></app-brand-logo>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="LoginRequest()" novalidate>

      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix>person_outline</mat-icon>
          <input matInput placeholder="Usuario" type="text" autocomplete="email" formControlName="user">
          <mat-error *ngIf="loginForm.get('user')?.hasError('required')">
            <span class="black-color">El usuario es requerido</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-icon matPrefix class="cursor-pointer" (click)="$event.preventDefault();hidePwd = !hidePwd;"
                    tabindex="-1">
            {{hidePwd ? 'lock_open' : 'visibility'}}
          </mat-icon>
          <input matInput placeholder="Password" [type]="hidePwd ? 'password' : 'text'" autocomplete="current-password"
                 formControlName="password" (keydown.enter)="$event.preventDefault()">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            <span class="black-color">La contraseña es requerida</span>
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            <span class="black-color">La contraseña debe tener al menos 8 caracteres</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="px-20">
        <button mat-raised-button class="full-width button-accept" [disabled]="loginForm.invalid" type="submit">
          Entrar
        </button>
      </mat-card-actions>

    </form>

  </mat-card>

  <p ngClass.lt-md="info bg-transparent-50" ngClass.gt-sm="info">
    Si no recuerdas tus claves de acceso ponte en contacto con nosotros en el teléfono 911 548 520
  </p>

</div>
