<app-loader *ngIf="showLoader"></app-loader>

<div *ngIf="!showLoader" fxLayout="column" fxLayoutGap="30px" ngClass.gt-sm="global-position-container"
     ngClass.lt-md="global-position-container-sm" fxLayoutAlign="start center">

  <div>
    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="start center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title white-color">
        {{'finance.investment-history.title' | translate}}
      </h1>
    </div>

    <div ngClass.lt-md="data-sm" ngClass.gt-sm="data mat-elevation-z4">
      <p class="date">
        {{data?.resume_investment_history?.date | date:'longDate'}}
      </p>

      <ul>
        <li fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between end"
            fxLayoutAlign.lt-md="center start">
          <p class="text-data">
            {{'finance.investment-history.generated-interest' | translate}}
          </p>
          <p class="currency-data">
            {{ data?.resume_investment_history?.accrued_interest | currency}}
            <span class="annotation">(1)</span>
          </p>
        </li>
        <li fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between end"
            fxLayoutAlign.lt-md="center start">
          <p class="text-data">
            {{'finance.investment-history.media-profitability' | translate}}
          </p>
          <p class="currency-data">
            {{ data?.resume_investment_history?.media_profitability | percent:'.0-2'}}
            <span class="annotation">(1)</span>
          </p>
        </li>
      </ul>

      <p class="info">
        {{'finance.investment-history.info' | translate}}
      </p>
    </div>

  </div>

  <div style="width: 925px" fxLayout="column" fxLayoutGap="20px" fxShow="true" fxHide.lt-md>

    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="space-between center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title white-color">
        {{'finance.investment-history.header-detail' | translate}}
      </h1>
      <div fxLayout="row" fxLayoutAlign="end center" class="width-50">
        <span class="filter-text">
        {{'finance.filter.label' | translate}}
      </span>
        <mat-form-field appearance="outline" class="pl-10">
          <mat-select (valueChange)="catchFilterChange($event)">
            <mat-option value="none"></mat-option>
            <mat-option value="start_date">
              {{'finance.filter.start-date' | translate}}
            </mat-option>
            <mat-option value="end_date">
              {{'finance.filter.end-date' | translate}}
            </mat-option>
            <mat-option value="kind_operation">
              {{'finance.filter.kind-op' | translate}}
            </mat-option>
            <mat-option value="obj_profitability">
              {{'finance.filter.profitability-obtained' | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="panel mat-elevation-z6" *ngFor="let record of closedInvestmentHistory">

      <div class="header-panel full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="logo">
            <img src="{{record.logo}}" alt="logo-company">
          </div>
          <span class="company-name">{{record.company_name}}</span>
        </div>

        <div class="description" fxLayout="row" fxLayoutAlign="space-around center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">{{'finance.investment-history.investment' | translate}}</span>
            <span class="currency-description">{{ record.investment | currency}}</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">{{'finance.investment-history.obj-profitability' | translate}}</span>
            <span class="currency-description">{{ record.obj_profitability | percent:'.0-2'}}</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">{{'finance.investment-history.accrued-interest-resume' | translate}}</span>
            <span class="currency-description">{{ record.accrued_profit | currency}}</span>
          </div>
        </div>
      </div>

      <div class="history-detail-container">
        <div class="history-detail" fxLayout="row" fxLayoutAlign="space-between center">
        <span>
          <b>{{'finance.investment-history.kind-op' | translate}}</b>
          {{utils.getFinanceTypeOperation(record.kind_operation) | translate}}
        </span>
          <div fxLayout="row" fxLayoutAlign="space-around center" class="width-50">
          <span>
            <b>{{'finance.investment-history.start-date' | translate}}</b>
            {{record.start_date | date:'M/d/yyyy'}}
          </span>
            <span>
            <b>{{'finance.investment-history.end-date' | translate}}</b>
              {{record.end_date | date:'M/d/yyyy'}}
          </span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div fxLayout="column" fxShow="true" fxHide.gt-sm class="full-width">
    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="start center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title-sm white-color">
        {{'finance.investment-history.header-detail' | translate}}
      </h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="full-width mt-10">
      <span class="filter-text">
        {{'finance.filter.label' | translate}}
      </span>
      <mat-form-field appearance="outline" class="pl-10">
        <mat-select>
          <mat-option value="Fecha Entrada">
            {{'finance.filter.start-date' | translate}}
          </mat-option>
          <mat-option value="Fecha Salida">
            {{'finance.filter.end-date' | translate}}
          </mat-option>
          <mat-option value="Tipo Operación">
            {{'finance.filter.kind-op' | translate}}
          </mat-option>
          <mat-option value="Rentabilidad Optenida">
            {{'finance.filter.profitability-obtained' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ul class="active-investment-detail-container">
      <li class="active-investment-detail mat-elevation-z6" fxLayout="column" fxLayoutAlign="center start"
          *ngFor="let record of data?.closed_investment_history">
        <div fxLayout="row" fxLayoutAlign="start center" class="pb-10">
          <span class="badge-investment">PGH</span>
          <span class="company-name">{{record.company_name}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width pb-10">
          <span class="info-investment">
            {{'finance.investment-history.investment' | translate}}&nbsp;
            <b class="text-primary">{{record.investment | currency}}</b>
          </span>
          <span class="info-investment">
            {{'finance.investment-history.obj-profitability-resume' | translate}}&nbsp;
            <b class="text-primary">{{record.obj_profitability | percent:'.0-2'}}</b>
          </span>
        </div>
        <span class="info-investment pb-10">
          {{'finance.investment-history.accrued-interest' | translate}}&nbsp;
          <b class="text-primary">{{record.accrued_profit | currency}}</b>
        </span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width pb-10">
          <span class="info-investment">
            {{'finance.investment-history.entry' | translate}}&nbsp;
            {{record.start_date | date:'M/d/yyyy'}}
          </span>
          <span class="info-investment">
            {{'finance.investment-history.expiration' | translate}}&nbsp;
            {{record.end_date | date:'M/d/yyyy'}}
          </span>
        </div>
      </li>
    </ul>

  </div>

</div>
