/* You can add global styles to this file, and also import other style files */
@import 'assets/palette';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100% !important;
}

.width-25 {
  width: 25% !important;
}

.width-50 {
  width: 50% !important;
}

.width-75 {
  width: 75% !important;
}

.width-80 {
  width: 80% !important;
}

.button-accept {
  background-color: $forest-green-web;
  color: $baby-powder !important;
}

.white-color {
  color: $baby-powder !important;
}

.black-color {
  color: $rich-black-fogra-39 !important;
}

.black-color-50 {
  color: $rich-black-fogra-39 !important;
}

.bg-menu {
  background: #232323
}

.pl-10 {
  padding-left: 10px !important;
}

.px-20 {
  padding: 0 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mx-5 {
  margin: 0 5px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-primary {
  color: $green-pantone !important;
}

