<app-loader *ngIf="showLoader"></app-loader>

<div *ngIf="!showLoader" fxLayout="column" fxLayoutGap="30px" ngClass.gt-sm="global-position-container"
     fxFill ngClass.lt-md="global-position-container-sm" fxLayoutAlign="start center">

  <div>
    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="start center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title white-color">
        {{'finance.nav.global-position' | translate}}
      </h1>
    </div>

    <div ngClass.lt-md="data-sm" ngClass.gt-sm="data mat-elevation-z4">
      <p class="date">
        {{data?.position_global?.date | date:'longDate'}}
      </p>

      <ul>
        <li fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between end"
            fxLayoutAlign.lt-md="center start">
          <p class="text-data">
            {{'finance.global-position.capital-investment' | translate}}
          </p>
          <p class="currency-data">
            {{ data?.position_global?.capital_investment | currency}}
            <span class="annotation">(1)</span>
          </p>
        </li>
        <li fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between end"
            fxLayoutAlign.lt-md="center start">
          <p class="text-data">
            {{'finance.global-position.profit' | translate}}
          </p>
          <p class="currency-data">
            {{ data?.position_global?.profit | currency}}
            <span class="annotation">(1)</span>
          </p>
        </li>
        <li fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign.gt-sm="space-between end"
            fxLayoutAlign.lt-md="center start">
          <p class="text-data">
            {{'finance.global-position.media-profit' | translate}}
          </p>
          <p class="currency-data">
            {{ data?.position_global?.media_profit | percent:'.0-2'}}
            <span class="annotation">(1)</span>
          </p>
        </li>
      </ul>

      <p class="info">
        {{'finance.global-position.info' | translate}}
      </p>
    </div>

  </div>

  <div style="width: 925px" fxLayout="column" fxLayoutGap="20px" fxShow="true" fxHide.lt-md>

    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="start center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title white-color">
        {{'finance.global-position.active-investment' | translate}}
      </h1>
    </div>

    <mat-expansion-panel class="panel" *ngFor="let investment of data?.active_investments">
      <mat-expansion-panel-header class="header-panel" fxLayout="row" fxLayoutAlign="start center">
        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
          <div class="logo">
            <img src="{{investment.logo}}" alt="logo-company">
          </div>
          <span class="company-name">{{investment.company_name}}</span>
        </mat-panel-title>

        <mat-panel-description class="description" fxLayout="row" fxLayoutAlign="space-around center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">
              {{'finance.global-position.investment' | translate}}
            </span>
            <span class="currency-description">{{ investment.investment | currency}}</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">
              {{'finance.global-position.obj-profitability' | translate}}
            </span>
            <span class="currency-description">{{ investment.obj_profitability | percent:'.0-2'}}</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center">
            <span class="info-description">
              {{'finance.global-position.accrued-profit' | translate}}
            </span>
            <span class="currency-description">{{ investment.accrued_profit | currency}}</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="history-detail-container">
        <ul class="history-detail">
          <li fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let record of investment.history_detail">
            <span>
              <b>{{'finance.global-position.kind-op' | translate}}</b> {{record.kind_operation}}
            </span>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="width-50">
              <span>
                <b>{{'finance.global-position.start-date' | translate}}</b>
                {{record.start_date | date:'M/d/yyyy'}}
              </span>
              <span>
                <b>{{'finance.global-position.end-date' | translate}}</b>
                {{record.end_date | date:'M/d/yyyy'}}
              </span>
            </div>
          </li>
        </ul>
      </div>

    </mat-expansion-panel>
  </div>

  <div fxLayout="column" fxShow="true" fxHide.gt-sm class="full-width">
    <div ngClass.lt-md="header-sm" fxLayout="row" fxLayoutAlign="start center">
      <h1 ngClass.gt-sm="title text-primary" ngClass.lt-md="title-sm white-color">
        {{'finance.global-position.active-investment-detail' | translate}}
      </h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="full-width mt-10">
      <span class="filter-text">
        {{'finance.filter.label' | translate}}
      </span>
      <mat-form-field appearance="outline" class="pl-10">
        <mat-select>
          <mat-option value="Fecha Entrada">
            {{'finance.filter.start-date' | translate}}
          </mat-option>
          <mat-option value="Fecha Salida">
            {{'finance.filter.end-date' | translate}}
          </mat-option>
          <mat-option value="Tipo Operación">
            {{'finance.filter.kind-op' | translate}}
          </mat-option>
          <mat-option value="Rentabilidad Optenida">
            {{'finance.filter.profitability-obtained' | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ul class="active-investment-detail-container">
      <li class="active-investment-detail" fxLayout="column" fxLayoutAlign="center start"
          *ngFor="let investment of data?.active_investments">
        <div fxLayout="row" fxLayoutAlign="start center" class="pb-10">
          <span class="badge-investment">PGH</span>
          <span class="company-name">{{investment.company_name}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width pb-10">
          <span class="info-investment">{{'finance.global-position.investment' | translate}}&nbsp;
            <b class="text-primary">{{investment.investment | currency}}</b>
          </span>
          <span class="info-investment">{{'finance.global-position.obj-profitability-resume' | translate}}&nbsp;
            <b class="text-primary">{{investment.obj_profitability | percent:'.0-2'}}</b>
          </span>
        </div>
        <span class="info-investment pb-10">{{'finance.global-position.accrued-interest' | translate}}&nbsp;
          <b class="text-primary">{{investment.accrued_profit | currency}}</b>
        </span>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="full-width pb-10">
          <span class="info-investment">{{'finance.global-position.entry' | translate}}&nbsp;
            {{investment.start_date | date:'M/d/yyyy'}}
          </span>
          <span class="info-investment">{{'finance.global-position.expiration' | translate}}&nbsp;
            {{investment.end_date | date:'M/d/yyyy'}}
          </span>
        </div>
      </li>
    </ul>

  </div>

</div>
