.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  background: #232323;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;

  .menu-logo {
    line-height: 0;
    margin: 0 20px;
  }

  a {
    text-decoration: none;
    color: #cdcdcd;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #00C6A7;
  }

  a.active {
    padding-bottom: 4px;
    border-bottom-width: 4px;
    border-bottom-color: #cdcdcd;
    border-bottom-style: solid;
  }
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    padding: 0;
    list-style: none;


    li {
      padding: 0 20px;
    }
  }
}

.menu-spacer {
  flex: 1 1 auto;
}

.user-menu {

  .icon-user-menu {
    width: 42px;
    height: 42px;
    font-size: 42px;
  }

  .user-info {
    font-size: 14px;
    font-weight: lighter;
  }

}

.sidenav-container {
  background: #232323;

  .spacer-h {
    width: 100%;
    height: 2px;
    margin: 20px 0 10px;
    background-color: #cdcdcd;
  }

  .user-sidenav {
    color: #cdcdcd;

    .icon-user-sidenav {
      width: 64px;
      height: 64px;
      font-size: 64px;
    }

    .user-info-sidenav {
      font-size: 18px;
      font-weight: lighter;
    }

  }

  .nav-list {
    a {
      color: #cdcdcd;
    }
  }

}

.main-container {
  height: calc(100vh - 326px);
  background: #232323;

  .router-outlet-container {
    background-color: white;
    margin: 0 15px;
    height: 100%;
  }
}
