<mat-toolbar class="menu-container">
  <mat-toolbar-row class="white-color" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="end center">
    <a routerLink="/finance/global-position" class="menu-logo" (mouseover)="bg = '#2ba84aff'" (mouseleave)="bg = 'white'">
      <app-brand-logo [bg]="bg"></app-brand-logo>
    </a>

    <div class="menu" fxShow="true" fxHide.lt-md>
      <ul>
        <li>
          <a routerLink="/finance/global-position" routerLinkActive="active">
            {{'finance.nav.global-position' | translate}}
          </a>
        </li>
        <li>
          <a routerLink="/finance/investment-history" routerLinkActive="active">
            {{'finance.nav.investment-history' | translate}}
          </a>
        </li>
        <li>
          <a routerLink="/finance/administration" routerLinkActive="active">
            {{'finance.nav.administration' | translate}}
          </a>
        </li>
      </ul>
    </div>

    <span class="menu-spacer"></span>

    <app-i18n [icon]="true"></app-i18n>

    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
    </button>

    <div class="user-menu" fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxHide.lt-md>
      <div fxLayout="row">
        <mat-icon class="icon-user-menu">person</mat-icon>
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="userMenuOpened = true">
          <mat-icon>{{userMenuOpened ? 'expand_more' : 'expand_less'}}</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [class]="'bg-menu'" (closed)="userMenuOpened = false">
          <a mat-menu-item routerLink="/finance/personal-data" class="white-color">
            {{'finance.nav.my-data' | translate}}
          </a>
          <a mat-menu-item (click)="logout()" class="white-color">
            {{'finance.nav.logout' | translate}}
          </a>
        </mat-menu>
      </div>
      <span class="user-info">{{authUser?.full_name}}</span>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav class="sidenav-container">
    <div class="user-sidenav" fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row">
        <mat-icon class="icon-user-sidenav mr-10">person</mat-icon>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="full-width" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </div>
          <span class="user-info-sidenav">{{authUser?.full_name}}</span>
        </div>
      </div>
    </div>

    <div class="spacer-h"></div>

    <mat-nav-list class="nav-list">
      <a mat-menu-item routerLink="/finance/personal-data" routerLinkActive="active" (click)="sidenav.toggle()">
        {{'finance.nav.my-data' | translate}}
      </a>
      <a mat-list-item routerLink="/finance/global-position" routerLinkActive="active" (click)="sidenav.toggle()">
        {{'finance.nav.global-position' | translate}}
      </a>
      <a mat-list-item routerLink="/finance/investment-history" routerLinkActive="active" (click)="sidenav.toggle()">
        {{'finance.nav.investment-history' | translate}}
      </a>
      <a mat-list-item routerLink="/finance/administration" routerLinkActive="active" (click)="sidenav.toggle()">
        {{'finance.nav.administration' | translate}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--Content-->
    <main class="main-container">
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>

      <!--Footer-->
      <app-footer></app-footer>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
