<div class="footer white-color">
  <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
    <app-brand-logo [bg]="'white'"></app-brand-logo>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="full-width mt-40">
    <div fxLayout="row" fxLayoutAlign="center center" class="icon-info">
      <mat-icon class="icon-footer">location_on</mat-icon>
      <div class="spacer-v-footer"></div>
      <span class="info">
            Calle Ciudad Real 1A, 28223, Pozuelo de Alcorcón, Madrid.
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="icon-info">
      <mat-icon class="icon-footer">contact_support</mat-icon>
      <div class="spacer-v-footer"></div>
      <span class="info">
            info@nexumcapital.es <br>
            911 548 520
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="icon-info">
      <mat-icon class="icon-footer">info</mat-icon>
      <div class="spacer-v-footer"></div>
      <span class="info">
            Aviso Legal <br>
            Política de Privacidad <br>
            política de Cookies
      </span>
    </div>
  </div>
</div>
