<div class="footer white-color">

  <div fxLayout="row" fxLayoutAlign="center center" class="full-width" fxShow="true" fxHide.lt-md>
    <app-brand-logo [bg]="'white'"></app-brand-logo>
  </div>

  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-around center" fxLayoutGap.lt-md="15px"
       fxLayoutAlign.lt-md="start start" ngClass.gt-sm="full-width mt-40" ngClass.lt-md="full-width pl-10">

    <div fxLayout="row" fxLayoutAlign="center start" class="icon-info">
      <mat-icon class="icon-footer">location_on</mat-icon>
      <div class="spacer-v-footer" fxShow="true" fxHide.lt-md></div>
      <div class="spacer-v-footer" fxShow="true" fxHide.gt-sm [style.height.px]="80"></div>
      <span class="info" fxShow="true" fxHide.lt-md>
            Calle Ciudad Real 1A, 28223, Pozuelo de Alcorcón, Madrid.
      </span>
      <span class="info-sm" fxShow="true" fxHide.gt-sm>
        <b>Madrid</b><br>
        C/ Ciudad Real 1 <br>
        28223 Pozuelo de Alcorcón (Madrid) <br>
        +34 911 548 520
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="icon-info">
      <mat-icon class="icon-footer" fxShow="true" fxHide.lt-md>contact_support</mat-icon>
      <mat-icon class="icon-footer" fxShow="true" fxHide.gt-sm>email</mat-icon>
      <div class="spacer-v-footer" fxShow="true" fxHide.lt-md></div>
      <div class="spacer-v-footer" fxShow="true" fxHide.gt-sm [style.height.px]="32"></div>
      <span class="info" fxShow="true" fxHide.lt-md>
        info@nexumcapital.es <br>
        911 548 520
      </span>
      <span class="info" fxShow="true" fxHide.gt-sm>
        info@nexumcapital.es
      </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="icon-info" fxShow="true" fxHide.lt-md>
      <mat-icon class="icon-footer">info</mat-icon>
      <div class="spacer-v-footer"></div>
      <span class="info">
            Aviso Legal <br>
            Política de Privacidad <br>
            Política de Cookies
      </span>
    </div>

  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="legal-info" fxShow="true" fxHide.gt-sm
        fxLayoutGap="4px">
    <div fxLayout="row" fxLayoutAlign="center center" class="black-color">
      <a href="#" target="_blank" class="black-color-50">Aviso Legal</a>
      <span class="mx-5">-</span>
      <a href="#" target="_blank" class="black-color-50">Política de Privacidad</a>
      <span class="mx-5">-</span>
      <a href="#" target="_blank" class="black-color-50">Política de Cookies</a>
    </div>
    <span class="black-color-50">&copy; Nexum Finanzas S.L</span>
  </div>

</div>
